<h2><small>About</small> <strong>me</strong></h2>
<div class="line"></div>
<p>
	<strong>"Captured by my own creativity"</strong>
</p>
<p>
	 Not much for explanation, but if you must know. I'm a twenty year old student, out of Ottawa. I just want to share my collection of photos. I take too many pictures, but what is too many. I hope you enjoy.
</p>
<br/>
<p>	
	Cheers,
</p>
<p>	
	Lukundu Lako. 
</p>