<div class="span10 offset1">
<table class="post">
    <h2><%= @post.title %></h2>
	<br/>
	<tr>
	<td><%= image_tag @post.img.url(:large) %></td>
	</tr>
	<tr>
	<td><%= @post.desc %></td>
	</tr>
</table>
</div>