/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter/bootstrap
 */
body{
	background-color:#d8e6ea;
}
#content{
	min-height:800px;
}
#feed {
	max-width:300px;
}


strong {
	color:#00b7ec;
}

#nav {
	list-style:none;
	height: 60px;
	font-size:24px;
	margin-left:auto;
	padding-top:5px;
}
	#nav li{
		float:left;
		padding:5px;
	}
		#nav a{
			color:#0cc4f9;
		}
#feed {
	max-height: 400px;
	max-width: 300px;
}
	.line{
		width:350px;
		border-bottom:2px solid #e3e3e3;
	}	
	.line2{
		width:200px;
		border-bottom:2px solid #e3e3e3;
	}
.title{

	text-align:left;
	width: 360px;
	
}

#title-head{
	z-index:5;
}

#photos{
	z-index:1;
	overflow: scroll;
	width:500px;
	height:600px;
	width:350px;
	padding-right:500px;
	overflow-x: hidden;
}



.textarea{
	width:400px;
  	max-width: 500px;
  	height: 100px;
	overflow:hidden;
}
.posts{
	background-color: #e2f4f8;
	padding:5px;
	width: 450px;
	color:#1080af;
	
}

.post{
	background-color: #e2f4f8;
	padding:5px;
	color:#1080af;
}

footer {
  	height:30px;
	width:100%;
	background-color:#0cc4f9;
  	clear:both;
	color:#323232;
	font-size: 12px;
	font-weight: bold;
	bottom:0px;
	text-align:center;
}